<div id="black_friday_modal">
  <div class="black_friday_modal_content">
    <span class="close" id="black_friday_modal_close" onClick="closeBlackFridayModal()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20">
        <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z" fill="#a7a194" />
        </svg>
    </span>
    <h3>GET EARLY ACCESS TO OUR BIGGEST SALE OF THE YEAR!</h3>
    <p>
      Sign up to get the code and shop everything at 30% off ahead of everyone else. (And yes, we mean everything!)
    </p>
    <input type="email" id="black_friday_user_email" placeholder="EMAIL ADDRESS" />
    <p id="black_friday_error_msg"></p>
    <div id="black_friday_notify_button">SIGN ME UP</div>
    <p id="black_friday_disclaimer">
      By submitting your email, you will be signed up to receive emails about launches, promos, and more.
      Unsubscribe anytime.
    </p>
  </div>
</div>