{% form 'customer_address', customer.new_address, class: 'Form visually-hidden js-add-address-form', autocomplete: 'off' %}
  <h4>New Address</h4>
  <div class="form-element js-form-field js-required">
    <label for="address_first_name">First Name</label>
    <input id="address_first_name" type="text" value="" name="address[first_name]" autocomplete="new-password" tabindex="-1">
  </div>

  <div class="form-element js-form-field js-required">
    <label for="address_last_name">Last Name</label>
    <input id="address_last_name" type="text" value="" name="address[last_name]" autocomplete="new-password" tabindex="-1">
  </div>

  <div class="form-element js-form-field js-required">
    <label for="address_address1">Address 1</label>
    <input id="address_address1" type="text" value="" name="address[address1]" autocomplete="new-password" tabindex="-1">
  </div>
  
  <div class="form-element js-form-field">
    <label for="address_address2">Address 2</label>
    <input id="address_address2" type="text" value="" name="address[address2]" autocomplete="new-password" tabindex="-1">
  </div>

  <div class="form-element js-form-field js-required">
    <label for="address_city">City</label>
    <input id="address_city" type="text" value="" name="address[city]" autocomplete="new-password" tabindex="-1">
  </div>

  <div class="form-element select-native active js-required">
    <label for="address_country">Country</label>
    <select class="js-address-country" id="address_country" name="address[country]" autocomplete="new-password" tabindex="-1">
      {{ country_option_tags }}
    </select>
  </div>

  <div class="form-element select-native active js-address-province-wrapper js-required">
    <label for="address_province">State/Province</label>
    <select id="address_province" class="js-address-province" name="address[province]" autocomplete="new-password" tabindex="-1">
    </select>
  </div>

  <div class="form-element js-form-field js-required">
    <label for="address_zip">ZIP/Postal Code</label>
    <input id="address_zip" type="text" value="" name="address[zip]" autocomplete="new-password" tabindex="-1">
  </div>

  <div class="form-element-full">
    <input id="address_default" type="checkbox" value="" name="address[default]" tabindex="-1">
    <label for="address_default">Default Address</label>
  </div>

  <div class="form-actions">
    <button type="button" class="form-actions__cancel js-cancel-new-address" tabindex="-1">Cancel</button>
    <button type="submit" class="form-actions__submit btn btn--lightbrown js-new-address-submit" tabindex="-1">ADD</button>
  </div>
{% endform %}