<div class="preview-popup">
  <button class="popup-button-edit mobile">Edit</button>
      <div class="popup-wrapper">
        <div class="popup-images">
          <button class="popup-button-edit desktop">Edit</button>
          <div class="popup-image popup-engraving" style="z-index: 5;"></div>
          <img alt="Flask Cap" class="popup-image popup-image-cap hidden" style="z-index: 4;">
          <img alt="Flask Loop" class="popup-image popup-image-loop hidden" style="z-index: 3;">
          <img alt="Flask Bottle" class="popup-image popup-image-bottle hidden" style="z-index: 1;">
          <img alt="Flask Boot" class="popup-image popup-image-boot hidden" style="z-index: 2;">
        </div>
        <div class="popup-content">
          <h5 class="popup-heading">You have successfully customized your flask.</h5>
          <div class="popup-confirmation-text">Do you want to proceed to bag or customize another flask?</div>
          <a class="flask-checkout-link" href="/cart"><button class="popup-confirmation-button">Proceed to bag</button></a>
          <button class="popup-another">Customize another flask</button>
          <div class="popup-c-footer">
            <a target="_blank" id="popup-upsell" href="/collections/sunnies-flask">Shop flask components</a>
          </div>
        </div>
      </div>
    </div>