{% comment %} <div class="preview-randomizer">
      <div id="randomize-button" class="randomize-outer">
        <div class="randomize-container">
          <span class="randomize-text">Randomize colors</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M2 12.1999H4.3448C4.54573 12.1998 4.74343 12.1493 4.91976 12.0529C5.09608 11.9566 5.2454 11.8175 5.354 11.6485L7.7 7.99988L10.046 4.35068C10.1547 4.18174 10.304 4.04278 10.4803 3.94655C10.6567 3.85032 10.8543 3.79989 11.0552 3.79988H14M14 12.1999H11.0552C10.8543 12.1998 10.6566 12.1493 10.4802 12.0529C10.3039 11.9566 10.1546 11.8175 10.046 11.6485L8.8574 9.79988M2 3.79988H4.3448C4.54568 3.79989 4.74334 3.85032 4.91966 3.94655C5.09598 4.04278 5.24533 4.18174 5.354 4.35068L6.5426 6.19988" stroke="#94ADC8" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.2 2L14 3.8L12.2 5.6M12.2 10.4L14 12.2L12.2 14" stroke="#94ADC8" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>     {% endcomment %}

    <div class="preview-randomizer">
      <div id="randomize-button" class="randomize-outer">
        <div class="randomize-container">
          <span class="randomize-text">Randomize colors</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M2 12.1999H4.3448C4.54573 12.1998 4.74343 12.1493 4.91976 12.0529C5.09608 11.9566 5.2454 11.8175 5.354 11.6485L7.7 7.99988L10.046 4.35068C10.1547 4.18174 10.304 4.04278 10.4803 3.94655C10.6567 3.85032 10.8543 3.79989 11.0552 3.79988H14M14 12.1999H11.0552C10.8543 12.1998 10.6566 12.1493 10.4802 12.0529C10.3039 11.9566 10.1546 11.8175 10.046 11.6485L8.8574 9.79988M2 3.79988H4.3448C4.54568 3.79989 4.74334 3.85032 4.91966 3.94655C5.09598 4.04278 5.24533 4.18174 5.354 4.35068L6.5426 6.19988" stroke="var(--summer-red-color)" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.2 2L14 3.8L12.2 5.6M12.2 10.4L14 12.2L12.2 14" stroke="var(--summer-red-color)" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>
    </div>