<div id="waitlist_modal">
  <div class="waitlist_modal_content">
    <span class="close" id="waitlist_modal_close" onClick="closeWaitListModal()">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.333374" y="19.9891" width="27.7974" height="2" rx="1" transform="rotate(-45 0.333374 19.9891)" fill="#352B27"/>
        <rect x="2.01111" y="0.333374" width="27.7974" height="2" rx="1" transform="rotate(45 2.01111 0.333374)" fill="#352B27"/>
      </svg>
    </span>

    <h3>Join the waitlist</h3>

    <p>Enter your email so we can let you know when the item becomes available</p>

    <input type="email" id="waitlist_user_email" placeholder="Email Address" />

    <p id="waitlist_error_msg"></p>

    <div id="subscribe_email_container">
      <div id="subscribe_email_checkbox">
      <svg id="icon_email_checked" width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" fill="#352B27"/>
        <rect x="7.09229" y="12.3145" width="10.233" height="1.26237" transform="rotate(-47.2531 7.09229 12.3145)" fill="white"/>
        <rect x="7.96387" y="13.2275" width="5.93997" height="1.26237" transform="rotate(-137.276 7.96387 13.2275)" fill="white"/>
      </svg>
      <svg id="icon_email_unchecked" width="19" height="19" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="0.5" y="0.5" width="19" height="19" rx="3.5" stroke="#D7D6D0"/>
      </svg>
      </div>
      <span>Subscribe to our newsletter</span>
    </div>

    <div id="notify_button">Notify me</div>
  </div>
</div>