<div class="Customer">
  <div class="Customer__wrapper">
    {% render 'customer_header' %}
    <div class="customer-main">
    {% render 'customer_sidebar' %}
    {% render 'customer_order' %}
    </div>
  </div>
</div>