{%- assign _section = section.settings -%}
{%- assign section_image_d = _section.image_desktop -%}
{%- assign section_image_m = _section.image_mobile -%}

<section class="section-gift-guide-banner no-padding">
    {% if section_image_d != blank %}
        <div class="section__image footer-banner-ratio desktop" style="background-image: url({{section_image_d | img_url: '3200x'}});"></div><!-- /.section__image -->
	{% endif %}
    {% if section_image_m != blank %}
        <div class="section__image footer-banner-ratio mobile size-4-3" style="background-image: url({{section_image_m | img_url: '3200x'}});"></div><!-- /.section__image -->
	{% endif %}
</section><!-- /.section-gift-guide-banner -->

{% schema %}
{
    "name": "Footer Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_desktop",
            "label": "Desktop Banner 16:9"
        },
        {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Mobile Banner 4:3"
        }
    ]
}
{% endschema %}