<div class="section-title">
  <h2 class="section-title__title">{{ section.settings.title }}</h2>
  <p class="section-title__subtitle">{{ section.settings.subtitle }}</p> 
</div>

{% schema %}
  {
    "name": "GGuide Section Title",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      }
    ],
    "presets": [
      {
        "name": "GGuide Section Title"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .section-title {
    color: #9DB74B;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-title__title {
    font-family: 'PPE-Editorial';
    font-size: 40px;
    font-weight: 300;
    line-height: 120%;
  }
  .section-title__subtitle {
    font-family: 'Radio Grotesk';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
  }
   @media only screen and (min-width: 768px) {
     .section-title__title {
       font-size: 60px;
     }
     .section-title__subtitle {
       font-size: 16px;
     }
   } 
{% endstylesheet %} 
