<div
  class="regular-image-banner-container"
  style="{% if section.settings.is_full_bleed %}margin: 0;{% endif %}"
>
  <img
    src="{{ section.settings.desktop_image | image_url }}"
    id="regular-image-banner-desktop"
    loading="lazy"
    style="{% if section.settings.is_contained %}max-width: 818px; margin: 0 auto;{% endif %}"
  >
  <img
    src="{{ section.settings.mobile_image | image_url }}"
    id="regular-image-banner-mobile"
    loading="lazy"
    style="{% if section.settings.is_contained %}padding: 0 40px;{% endif %}"
  >
</div>

{% schema %}
{
  "name": "Regular Image Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    },
    {
      "type": "checkbox",
      "id": "is_full_bleed",
      "label": "Is Full Bleed"
    },
    {
      "type": "checkbox",
      "id": "is_contained",
      "label": "Contained",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Regular Image Banner"
    }
  ]
}
{% endschema %}
