{%- include 'about-blocks' -%}

<script>
  const certifiedText = document.querySelectorAll(".section-about-50-50 .section__entry-text p")
  certifiedText.forEach(text => {
    if (text.innerHTML === "Certified by the Global Recycled Standard") {
      text.insertAdjacentHTML("beforebegin", "<div class='logo-50-50' style='width: 75px;'><img src='https://cdn.shopify.com/s/files/1/0172/4383/2374/files/image_72.png?v=1646930620'></div>")
    }
  })
</script>

{% schema %}
{
	"name": "Page blocks",
	"max_blocks": 9999,
	"settings": [
		{
			"type": "link_list",
			"id": "pages_menu",
			"label": "Pages menu"
		}
	],
	"blocks": [
		{
			"type": "intro",
			"name": "Intro",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image (desktop)"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image (mobile)"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "header",
					"content": "Text settings"
				},
				{
					"type": "select",
					"id": "text_color",
					"label": "Text Color",
					"options": [
						{
							"value": "#ffffff",
							"label": "White"
						}, {
							"value": "#352b27",
							"label": "Black"
						}
					]
				}
			]
		},
		{
			"type": "50_50",
			"name": "50/50",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content"
				},
				{
					"type": "text",
					"id": "btn_text",
					"label": "Button text"
				},
				{
					"type": "url",
					"id": "btn_url",
					"label": "Button url"
				},
				{
					"type": "checkbox",
					"id": "switch_layout",
					"label": "Switch Image position",
			    "default": false
				},
				{
					"type": "image_picker",
					"id": "logo",
					"label": "Logo"
				}
			]
		},
		{
			"type": "Icons",
			"name": "Icons",
			"settings": [
				{
					"type": "header",
					"content": "Block 1"
				},
				{
					"type": "image_picker",
					"id": "icon_1",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title_1",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content_1",
					"label": "Content"
				},
				{
					"type": "header",
					"content": "Block 2"
				},
				{
					"type": "image_picker",
					"id": "icon_2",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title_2",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content_2",
					"label": "Content"
				},
				{
					"type": "header",
					"content": "Block 3"
				},
				{
					"type": "image_picker",
					"id": "icon_3",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title_3",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content_3",
					"label": "Content"
				},
				{
					"type": "header",
					"content": "Block 4"
				},
				{
					"type": "image_picker",
					"id": "icon_4",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title_4",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content_4",
					"label": "Content"
				},
				{
					"type": "header",
					"content": "Block 5"
				},
				{
					"type": "image_picker",
					"id": "icon_5",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "title_5",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "content_5",
					"label": "Content"
				}
			]
		},
		{
			"type": "full_banner",
			"name": "Full width banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "full_banner",
					"label": "Upload an image banner (desktop)"
				},
				{
					"type": "image_picker",
					"id": "full_banner_mobile",
					"label": "Upload an image banner (mobile)"
				}
			]
		},
		{
			"type": "cards_with_links",
			"name": "Card with links",
			"settings": [
				{
					"type": "text",
					"id": "cards_heading",
					"label": "Heading"
				},
				{
					"type": "image_picker",
					"id": "card_one_img",
					"label": "Card one image"
				},
				{
					"type": "text",
					"id": "card_one_text",
					"label": "Card one text"
				},
				{
					"type": "url",
					"id": "card_one_link",
					"label": "Card one link"
				},
				{
					"type": "image_picker",
					"id": "card_two_img",
					"label": "Card two image"
				},
				{
					"type": "text",
					"id": "card_two_text",
					"label": "Card two text"
				},
				{
					"type": "url",
					"id": "card_two_link",
					"label": "Card two link"
				},
				{
					"type": "image_picker",
					"id": "card_three_img",
					"label": "Card three image"
				},
				{
					"type": "text",
					"id": "card_three_text",
					"label": "Card three text"
				},
				{
					"type": "url",
					"id": "card_three_link",
					"label": "Card three link"
				},
				{
					"type": "image_picker",
					"id": "card_four_img",
					"label": "Card four image"
				},
				{
					"type": "text",
					"id": "card_four_text",
					"label": "Card four text"
				},
				{
					"type": "url",
					"id": "card_four_link",
					"label": "Card four link"
				}
			]	
		},
		{
			"type": "title_and_text",
			"name": "Title and Text",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text content"
				}
			]
		},
		{
			"type": "regular_banner",
			"name": "Regular Banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image banner (desktop)"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Image banner (mobile)"
				}
			]
		},
		{
			"type": "50_50_text",
			"name": "50/50 text only",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "image_picker",
					"id": "logo_1",
					"label": "Logo 1"
				},
				{
					"type": "richtext",
					"id": "text_1",
					"label": "Text 1"
				},
				{
					"type": "image_picker",
					"id": "logo_2",
					"label": "Logo 2"
				},
				{
					"type": "richtext",
					"id": "text_2",
					"label": "Text 2"
				}
			]
		},
		{
			"type": "image_header_text",
			"name": "Image header + text",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text"
				}
			]
		},
		{
			"type": "off_banner",
			"name": "Off Banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "off_banner",
					"label": "Image"
				}
			]
		}
	]
}
{% endschema %}
