.product-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg_color);
}

.product-card-images {
  min-height: 132px;
  cursor: pointer;
}

.product-card-image {
  display: none;
}

.product-card-image[data-first-available="true"] {
  display: block;
}

.product-card-details {
  padding: 12px;
}

.product-card-details-wrapper .title-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px 0;
  cursor: pointer;
  gap: 8px;
}

.product-card-details-wrapper .title-wrapper h3 {
  font-family: "AT Surt Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--black_color);
}

.product-card-prices li {
  font-family: "AT Surt Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: var(--black_color);
}

.product-card-variants {
  list-style-type: none;
  font-family: "AT Surt Medium";
  font-weight: 400;
  font-size: 12px;
  color: var(--variant_color);
}

.product-card-variants li {
  display: none;
}

.product-card-variants li[data-first-available="true"] {
  display: block;
}

.product-card__price.on-sale {
  color: #d36327;
  margin-bottom: 4px;
  display: inline-block;
}

.product-card__compare-at-price {
  position: relative;
  display: inline-block;
}

.product-card__compare-at-price:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  top: 50%;
  transform: translateY(-50%);
}

.product-card-prices {
  list-style-type: none;
  min-width: auto;
}

.product-card-prices li {
  display: none;
}

.product-card-prices li[data-first-available="true"] {
  display: block;
  text-align: right;
}

.product-card-swatches {
  list-style-type: none;
  display: flex;
  overflow-x: auto;
  /* margin: 12px 0 22px 0; */
}

.product-card-swatches::-webkit-scrollbar {
  display: none;
}

.product-card-swatches li {
  border-radius: 100%;
  margin: 0 2px 2px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  position: relative;
  transition: all 0.2s ease-in-out;
  border: 1.5px solid rgba(53, 43, 39, 0);
}
.product-card-swatches li:hover {
  border: 1.5px solid rgba(53, 43, 39, 0.2);
}

.product-card-swatches .current-active-swatch {
  border: 1.5px solid var(--black_color);
}

.product-card-swatches .current-active-swatch:hover {
  border: 1.5px solid var(--black_color);
}

.product-card-swatches li[data-is-available="false"] {
  border: 1px solid var(--light_brown_color);
}

#variant-not-available {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--light_brown_color);
  transform: rotateY(0deg) rotate(45deg);
}

.product-card-swatches li div {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.product-card-actions-buttons {
  display: none;
  position: initial !important;
}

.product-card-actions-buttons a {
  text-decoration: none;
  font-family: "AT Surt Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--black_color);
  width: 100%;
  background: var(--neutral_eight_color);
  border-radius: 4px;
  height: 38px;
  align-items: center;
  justify-content: center;
  border: 1.5px solid transparent;
}

.product-card-actions-buttons a:hover {
  border: 1.5px solid var(--black_color);
}

.product-card-actions-buttons[data-first-available="true"] {
  display: flex;
}

.product-card-actions-buttons[data-is-available="false"] a {
  display: none;
}

.product-card-actions-buttons[data-is-available="false"]
  #joint-the-waitlist-button {
  display: flex;
}

.product-card-actions-buttons[data-is-available="true"] a {
  display: flex;
}

.product-card-actions-buttons[data-is-available="true"]
  #joint-the-waitlist-button {
  display: none;
}

@media (min-width: 768px) {
  .product-card-details {
    padding: 16px;
  }

  .product-card-images {
    min-height: 170px;
  }

  .product-card-details-wrapper .title-wrapper h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }

  .product-card-prices li {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
  }

  .product-card-variants {
    font-weight: 500;
    font-size: 14px;
  }

  .product-card-swatches {
    /* margin: 15px 0 24px 0; */
  }

  .product-card-swatches li {
    margin: 0 5px 0 0;
    min-width: 28px;
    min-height: 28px;
    width: 28px;
    height: 28px;
  }

  .product-card-swatches li div {
    width: 20px;
    height: 20px;
  }

  .product-card-actions-buttons a {
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
    height: 48px;
  }
}

@media (min-width: 1024px) {
  .product-card-images {
    min-height: 180px;
  }
}

@media (min-width: 1440px) {
  .product-card-images {
    min-height: 241px;
  }
}
