.featured-variants {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}
.featured-variants a{
   display: block;
}
.featured-variants__title {
    font-size: 18px;
    margin-top: 12px;
    line-height: 100%;
    font-family: 'Radio Grotesk';
}
.featured-variants__price {
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Radio Grotesk';
    line-height: 120%;
}

@media only screen and (min-width: 1200px) {
  .featured-variants__title {
    font-size: 20px;
  }
  .featured-variants__price {
      font-size: 16px;
  }
  .featured-variants {
    grid-template-columns: auto auto auto auto;
    gap: 24px;
    padding: 0 80px;
  }
}